apiVersion: v1
kind: ConfigMap
metadata:
  name: devspaces-config-job-config
  namespace: {{ .Values.namespace }}
data:
  GITOPS_REPO_URL: "{{ .Values.gitops.repoUrl }}"
  GITOPS_BRANCH: "{{ .Values.gitops.branch }}"

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: devspaces-config-job-playbook
  namespace: {{ .Values.namespace }}
data:
  playbook.yaml: |
    - name: Configure DevSpaces
      hosts: localhost
      gather_facts: no
      vars:
        ansible_connection: local
        validate_certs: no
      tasks:
        - name: Disable AutoSync for DevSpaces gitops Application
          kubernetes.core.k8s_json_patch:
            api_version: argoproj.io/v1alpha1
            kind: Application
            namespace: openshift-gitops
            name: devspaces
            patch:
              - op: remove
                path: /spec/syncPolicy/automated
          ignore_errors: yes

        - name: Setting DevSpaces to 1 Workspace max
          kubernetes.core.k8s_json_patch:
            api_version: org.eclipse.che/v2
            kind: CheCluster
            namespace: openshift-devspaces
            name: devspaces
            patch:
              - op: replace
                path: /spec/devEnvironments/maxNumberOfRunningWorkspacesPerUser
                value: 1